body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

.register-log-btn {
  margin-top: 16px;
}

.formPanel {
  background-color: #dbd5d5;
  width: 30%;
  height: 350px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
